body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#map{

}

.area{
  border: 2px solid red;
  position: relative;
}

#high_plains {
  top: 25px;
  left: 325px;
  width: 300px;
  padding: 10px;
  min-height: 200px;
}

#lowlands{
  top: 60px;
  left: 400px;
  width: 250px;
  padding: 10px;
  min-height: 150px;
}

#under_construction{
  top: 90px;
  left: 350px;
  width: 300px;
  padding: 10px;
  min-height: 200px;
}

#pariah{
  top: 460px;
  left: 660px;
  width: 300px;
  padding: 10px;
  min-height: 250px;
}

#python_pass{
  top: 15px;
  left: 660px;
  width: 300px;
  padding: 10px;
  min-height: 200px;
}

#badlands{
  top: 225px;
  left: 660px;
  width: 300px;
  padding: 10px;
  min-height: 225px;
}
